<h4>Formularios <small>Data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">
   <div formGroupName="nombreCompleto" >
    <div class="form-group row" [ngClass]="{'has-danger': forma.get('nombreCompleto.nombre').valid}" >
      <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
           <input class="form-control"
                  type="text"
                  placeholder="Nombre"
                  formControlName="nombre">

              <div class="form-control-feedback" 
                *ngIf="forma.get('nombreCompleto.nombre').errors?.required">
                El nombre es necesario
              </div>
        
              <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength">
                Por lo menos tres caracteres
              </div>
            </div>
    
          </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="apellido"
               formControlName="apellido">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">
    </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Username </label>
      <div class="col-8">

          <input class="form-control"
                type="text"
                placeholder="Username"
                formControlName="username">
        </div>
    </div>

  
  <div class="form-group row">
      <label class="col-2 col-form-label">Password 1</label>
      <div class="col-8">

        <input class="form-control"
               type="password"
               placeholder="Password 1"
               formControlName="password1">
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Password 2</label>
        <div class="col-8">
  
            <input class="form-control"
                  type="password"
                  placeholder="password 2"
                  formControlName="password2">
          </div>
      </div>
  

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-8" formArrayName="pasatiempos">

      <input type="text" class="form-control" [formControlName]="i" *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index" > 

    </div>
    <button class="btn btn-primary"  type="button" (click)="agergarPasatiempo()">
      Nuevo
    </button>
</div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
{{ forma.valid }}
<br>
{{forma.status}}
</form>
